[Unit]
Description=Network Connectivity
Requires=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/network start
ExecStop=/etc/rc.d/network stop

[Install]
WantedBy=multi-user.target
